@import url(reset.css);
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

.container {
  width: 1280px;
  margin: 0 auto;
}
.big-pd {
  padding: 96px 0;
}
.big-top-pd {
  padding-top: 96px;
}

.md-pd {
  padding: 48px 0;
}

.sm-pd {
  padding: 30px 0;
}

/* eun - search form */
.hidden {
  /* position: fixed;
  left: 0;
  top: -99999rem; */
  display: none;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

/* typography */
body {
  font: 16px/24px "Spoqa Han Sans", sans-serif;
}

.main-tt {
  font-size: 3.375rem;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
}

.main-stt {
  font-size: 2.25rem;
  line-height: 1.3em;
  color: #191f28;
  font-weight: 700;
}

.content-tt {
  font-size: 1.5rem;
  line-height: 1.6em;
  color: #191f28;
  font-weight: 700;
}

.content-stt {
  font-size: 1.25rem;
  line-height: 1.6em;
  color: #4593fc;
  font-weight: 700;
}

.content-desc-bl {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5em;
  font-weight: 700;
}

.content-desc-re {
  line-height: 1.5em;
  font-weight: 400;
}

.content-desc-li {
  line-height: 1.5em;
  font-weight: 300;
}

.content-desc-sm {
  font-size: 0.875rem;
  line-height: 1.5em;
}

/* colors */

.mono-light1-bg {
  background: #fbfbfb;
}

.mono-light2-bg {
  background: #b0b8c1;
}

.mono-dark1-bg {
  background-color: #6b7684;
}

.mono-g1 {
  color: #000;
}
.mono-g2 {
  color: #191f28;
}

.mono-g3 {
  color: #333d48;
}
.mono-g4 {
  color: #6b7684;
}
.mono-g5 {
  color: #b0b8c1;
}
.mono-g6 {
  color: #fbfbfb;
}

.blue-1-bg {
  background: #1b64da;
}
.blue-2-bg {
  background: #2272eb;
}
.blue-3-bg {
  background: #3182f6;
}
.blue-4-bg {
  background: #4593fc;
}

.blue-b1 {
  color: #1b64da;
}
.blue-b2 {
  color: #2272eb;
}
.blue-b3 {
  color: #3182f6;
}
.blue-b4 {
  color: #4593fc;
}

/* form */

.field {
  position: relative;
  width: 300px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.field input {
  line-height: 1.6em;
  padding: 10px;
  box-sizing: border-box;
}

.field input::placeholder {
  color: #b0b8c1;
}

.field i {
  position: absolute;
  right: 15px;
  top: calc(50% - 10px);
  font-size: 1.25rem;
  color: #4593fc;
}

.field:focus-within {
  box-shadow: 0 0 0 3px #1b64da inset;
}

.field:hover {
  box-shadow: inset 0px 0px 15px rgba(69, 147, 252, 0.4);
}

.field:hover:after {
  content: "";
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

/* chevron */

.chev-btn {
  width: 62px;
  height: 62px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: relative;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.chev-btn i {
  font-size: 2.25rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.chev-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

.chev-btn:hover i {
  color: #3182f6;
}

.chev-btn:focus-within {
  box-shadow: 0 0 0 3px #1b64da inset;
}

/*button*/

.btn {
  padding: 0 30px;
  text-align: center;
}

.btn.login {
  border-radius: 23.5px;
  color: #fff;
  line-height: 47px;
  cursor: pointer;
}

.btn.login:hover {
  background-color: #2272eb;
}

.btn.login:focus {
  box-shadow: 0 0 0 3px #1b64da inset;
}

/*tag button*/

.tag {
  color: #191f28;
  background-color: #fff;
  padding: 0 25px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  transition: 0.3s ease-in;
}

.tag:hover {
  color: #3182f6;
}

.tag.clicked {
  background-color: #3182f6;
  color: #fff;
}

/*footer btn*/

.btn.footer {
  color: #fff;
  line-height: 50px;
  border-radius: 25px;
}

.btn.footer:hover {
  background-color: #4593fc;
}

.btn.footer:focus {
  box-shadow: 0 0 0 3px #1b64da inset;
}

/*pc on/off*/

.pc {
  width: 30px;
  display: block;
  font-size: 10px;
  color: #fff;
  background-color: #4593fc;
  line-height: 20px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}

.pc.off {
  background-color: #b0b8c1;
}
