/* HEADER */

/* NAV-BAR */

/* MAIN-01 CAROUSEL */

/* MAIN-02 RECOMMENDED-GAMES */
.rc{
    width: 1280px;
    margin: 0 auto;
}
.slide-wrapper-rc{
    width:1280px;
    margin: 0 autor;
    height: 404px;
    position: relative;  
}

.slide-container-rc li{
    float: left;
}

.slide-container-rc::after{
    content: '';
    display: block;
    clear: both;
}

.slide-rc1 a{
    left: 0;
}
.slide-rc2 a{
    left: 25%;
}
.slide-rc3 a{
    left: 50%;
}
.slide-rc4 a{
    left: 75%;
}
/* li에 slide-re 다시 클래스명 주기 */
.slide-rc1 a img{
    background-image: url(/img/FIFA.png);
}
.slide-rc2 a img{
    background-image: url(/img/cartrider.png);
}
.slide-rc3 a img{
    background-image: url(/img/Maplestory.png);
}
.slide-rc4 a img{
    background-image: url(/img/DF.png);
}
.slide-container-rc a img{
    width: 305px;
    height: 290px;
    background-repeat: no-repeat;
}
/* MAIN-03 NEW-GAMES */

/* MAIN-04 BANNER */

/* MAIN-05 ALL-GAMES */

/* MAIN-06 RECOMMENDED-VIDEO */

/* FOOTER-01  */

/* FOOTER-02 */
