.bannerWrapper{
  background-image: url('https://ifh.cc/g/A0yQqd.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 365px;
}
.bannerWrapper .banner-video{
  width: 1280px;
  margin: 0 auto;
  height: 365px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.bannerWrapper iframe{
  position: relative;
  background: rgba(0, 0, 0, 1);
  transition: 0.3s;
}
.bannerWrapper iframe:hover :after{
  background: rgba(0, 0, 0, 0.7);
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.videoWrapper li{
  float: left;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 10px;
}
.videoWrapper li + li{
  margin-left: 59px;
}
.videoWrapper li figcaption{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 20px;
  padding: 30px 0 20px 30px;
}
.videoWrapper li div{
  border: 18px solid rgba(69, 147, 252, 0.7);
  border-radius: 10px;

}
.videoWrapper li img{
  border-radius: 10px;
}
.video-btn{
  padding: 15px 30px;
  background-color: #4593fc;
  margin-bottom: 30px;
  border-radius: 5px;
}
.video-btn a{
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
.allService{
  margin-top: 72px;
}
.allService .allService-first-Line{
  background: rgba(176, 184, 193, 0.3);
  margin-top: 48px;
}
.allService .allService-second-Line{
  background: rgba(176, 184, 193, 0.4);
}
.allService li{
  float: left;
  width: 20%;
  height: 308px;
  padding: 50px;
  box-sizing: border-box;
}
.allService dl dt{
  margin-bottom: 20px;
}
.allService-second-Line li:nth-child(2) dt:last-child{
  padding-top: 20px;
}
.allService dl dd{
  line-height: 2.19em;
}